@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:  #F7F5F2;
}
li,a,button{
   font-family: "Montserrat",sans-serif;
   font-weight: 500;
   font-size: 16px;
   color: black;
   text-decoration: none;

}
header{
height: 20px;
width: 1440px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px 10%; 
box-shadow: 5px 0px #CCCCCC;

}
.logo{
    height: 50px;
    width: 50px;
    cursor: pointer;

}
.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;

}
.nav_links li a{
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    color: #008890;
}
button{
    padding: 9px 25px;
    
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    color:rgba(0, 136,169, 0.8) ;
}
.searchbar{
    
width: 1259px;
height: 254px;
margin-left: 88px;
margin-top: 2rem;
background: #F0EDE4;
border-radius: 16px;

}
 .content{
     position: absolute;
width: 720px;
height: 72px;
margin:  134px auto  auto 48px;
font-family: Aktiv Grotesk Corp;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
color: #777777;


}
.form{
    position: absolute;
    width: 834px;
    height: 64px;
    
    margin: 48px 48px auto;
}

.font-mf{
    position: absolute;
    width: 343px;
    height: 24px;
    left: calc(50% - 343px/2 - 460.5px);
    top: 1533px;
    
    font-family: Aktiv Grotesk Corp;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
    
    
    /* Kristal Dark Grey 20 */
    
    color: #999999;
}
.about-mf{
    position: absolute;
    width: 802px;
    height: 37px;
    left: 88px;
    top: 1565px;
    
    font-family: Aktiv Grotesk Corp;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    
    
    color: #777777;
}

.pm_cards{
    position: absolute;
width: 409px;
height: 220px;
left: 88px;
top: 567px;



background: #FFFFFF;
border-radius: 8px;
    
}
.pm{
    position: absolute;
width: 51px;
height: 22px;
left: 0px;
top: 0px;

font-family: Aktiv Grotesk Corp;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 22px;
/* identical to box height, or 137%*/
text-align: right;



color: #3761C8;




flex: none;
order: 0;
flex-grow: 0;
margin: 0px 16px;
}  

.advi{

    width: 620px;
    height: 367px;
    
    margin-top: 56px;
    margin-left: 88px;
    margin-bottom: 358px;
    background: #F0EDE4;
    border-radius: 8px;
}
.build{

    width: 620px;
    height: 367px;
    margin-top: 56px;
    margin-right:auto;
    margin-left: 20px;
    margin-bottom: 358px;  
    background: #F0EDE4;
    border-radius: 8px;
}
.bp{
    position: static;
width: 524px;
height: 60px;
left: 0px;
top: 32px;

font-family: Aktiv Grotesk Corp;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
/* or 143% */


/* KRISTAL BLACK */

color: #1F1F1F;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 8px 0px;
}
.ab{
   
position: static;
width: 385px;
height: 24px;
left: 0px;
top: 0px;

font-family: Aktiv Grotesk Corp;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 24px;
/* identical to box height, or 133% */


/* Kristal Blue 80 */

color: #3761C8;



/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;
}
.ah{
    position: static;
    width: 385px;
    height: 24px;
    left: 0px;
    top: 0px;
    
    font-family: Aktiv Grotesk Corp;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
    
    
    /* Kristal Blue 80 */
    
    color: #3761C8;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 8px 0px;
}
.bh{
    position: static;
    width: 385px;
    height: 24px;
    left: 0px;
    top: 0px;
    
    font-family: Aktiv Grotesk Corp;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
    
    
    /* Kristal Blue 80 */
    
    color: #3761C8;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 8px 0px;
}
.vector{
   
/* dollar planet 2 */


position: relative;
left: 75.49%;
right: 13.7%;
top: 4.2%;
bottom: 91.86%;

background: url(.png);
}
.pcards{
  position: relative;    
    display: flex;
    flex-direction: column;
    border-color: black;
    margin-left: 88px;
   margin-top: 2rem;
}
.footer{
    display: flex;
    justify-content:baseline;
   align-items: center;
   flex: 1 0 620px;
}

