 .font{

    
position:static;
width: 343px;
height: 24px;
left: calc(50% - 343px/2 - 460.5px);
top: 474px;

font-family: Aktiv Grotesk Corp;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 24px;
/* identical to box height, or 133% */


/* Kristal Dark Grey 20 */

color: #999999;


}


.about{
    
    
    position: static;
    width: 802px;
    height: 37px;
    left: 88px;
    top: 506px;
    
    font-family: Aktiv Grotesk Corp;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    
    color: #777777;
}    
.data{
 display: flex;
  justify-content: baseline;
 align-items: center;
 
  
    
    
    
    
 border-radius: 8px;

} 
.cards{
  display: flex;
 flex-direction: column;
margin-top: 2rem;
margin-left: 2rem;  
}
.ant-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.next{
display: flex;
justify-content: end;    
}
.fun{
    display: flex;
    justify-content: start;
}