 .font{

width: 343px;
height: 24px;
margin-left: 1rem;
font-family: Aktiv Grotesk Corp;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 24px;
padding-bottom: 2rem;
 color: #999999;;
}


.about{
    
    
width: 802px;
height: 37px;
padding: auto 10px auto 88px;
margin-left: 1rem;
font-family: Aktiv Grotesk Corp;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
}
.data{
 display: flex;
  justify-content: inline;
 align-items: center;

  
    
    
    
    background: #FFFFFF;
    border-radius: 8px;

} 
.cards{
  display: flex;
 flex-direction: column;
margin-top: 2rem;
margin-left: 2rem;  
}
.ant-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.next{
display: flex;
justify-content: end;    
}